<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Subtract</h1>
    <p>
        {% if a is not None %}

        {{ a }} - {{ b }} = {{ t_difference }}

        {% endif %}

    </p>
    <p>


    <form method="post" action="/subtract/">
        {% csrf_token %}

        a: <input type="number" name="a"> <br><br>
        b: <input type="number" name="b"> <br><br>
        <button type="submit">Subtract</button>
    </form>



    </p>
</body>

</html>